<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mvit</title>
<!--  Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<!-- Icons-->
  <script src="https://kit.fontawesome.com/fca04b2de7.js" crossorigin="anonymous"></script>

<!--Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap" rel="stylesheet">
<!--My CSS-->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

  <section id="title">

    <!-- Nav Bar -->
    {% include 'header.html' %}


    <!-- Title -->
    <div class="row">
    <div class="col-lg-6">
      <h1>Manakula Vinayagar Institute of Technology.</h1>
      <button type="button" class="btn btn-dark btn-lg button-download"> Admission Enquiry</button>
      <button type="button" class="btn btn-outline-light btn-lg button-download"> Upcoming events</button>
    </div>
    <div class="col-lg-6">
      <img class="title-img" src="../static/images/1.jpg" alt="mvit">
    </div>
    </div>
    </div>

  </section>


  <!-- Features -->

  <section id="features" >
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <i class="fa-solid fa-circle-check fa-4x"></i>
        <h3>Top Engineering College</h3>
        <p>Mvit- Top Engineering College in Puducherry.</p>
      </div>

      <div class="col-lg-4 col-md-12">
        <i class="fa-solid fa-bullseye fa-4x"></i>
        <h3>500+</h3>
        <p>500+ Research Publication in last 5 years.</p>
      </div>

      <div class="col-lg-4 col-md-12">
        <i class="fa-solid fa-heart fa-4x"></i>
        <h3>Guaranteed to work.</h3>
        <p>More than 8145 students got benefited by the scholarship.</p>
      </div>
    </div>
  </section>


  <!-- Testimonials -->

  <section id="testimonials">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">


          <h2>To graduate students with technical knowledge and to pave way to come out with honors in technological field.</h2>
          <img class="testimonial-image" src="../static/images/5.jpg" alt="technical_awards">
          <em>Technical Competition Awards</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">From being means of physical fitness, sports and cultural have also played a great role in generation of spirit.</h2>
          <img class="testimonial-image" src="../static/images/6.jpg" alt="Culturals">
          <em>Sports & Cultural Awards</em>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </section>






<!--   Pricing -->

  <section id="pricing">


    <h2>A Plan for Everyone's Future</h2>
    <div class="row">
      <div class="pricing-col col-12 col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Alumini</h3>

          </div>

          <div class="card-body">
            <p>
              The purpose of the Alumni Association is to actively promote the College mission and vision, encourage friendship and communication amongst alumni.
            </p>

          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-outline-primary">Know More</button>
          </div>

        </div>
      </div>


      <div class="pricing-col col-12 col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Mou</h3>
          </div>

          <div class="card-body">
           <p>Strong links with the industry and continues to receive generous support that proves to be of immense value in arranging training to the students</p>

          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Know More</button>
          </div>


        </div>
      </div>


      <div class="pricing-col col-12 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Training</h3>
          </div>

          <div class="card-body">
            <p>
              Functions as a viaduct for the talented students to take up challenges in new technology. Department prepares them for recruitment and organizes various activities.
            </p>

          </div>
           <div class="card-footer">
            <button type="button" class="btn btn-outline-primary">Know More</button>
          </div>
        </div>
      </div>

    </div>
  </section>


  <!-- Call to Action -->

  <section id="cta">

    <h3 class="cta-h3">Find your bright future through our support.</h3>
    <button type="button" class="btn btn-dark btn-lg button-download"><a style="color: white" href="{{url_for('student')}}"> Student list</a></button>
    <button type="button" class="btn btn-outline-light btn-lg button-download"><a style="color: white" href="{{url_for('add_student')}}"> Add Student</a></button>

  </section>


  <!-- Footer -->

  {% include 'footer.html' %}


</body>

</html>
